<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/dist/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <script th:src="@{jquery.min.js}"></script>
    <script th:src="@{bootstrap/dist/js/bootstrap.min.js}"></script>
    <title>用户列表</title>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        密码
                    </th>
                    <th>
                        电话
                    </th>
                    <th>
                        年龄
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.mobileno}"></td>
                    <td th:text="${user.age}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>